.main {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: orange;
}
.main span {
    display: flex;
    flex-direction: column;
}
.togglePuertas {
    border: solid 1px gray;
    display: flex;
}
.togglePuertas span {
    display: flex;
    flex-direction: column;
}