.list_item {
    marker: none;  
    min-width: 150px; 
    border: 2px solid black; 
    border-radius: 2px; 
    margin-right: 15px;  
    padding: 5px;  
    float: left;
}

.status_locked {
    background-color: grey;
    font-weight: bold;
    font-style: normal;
    color: red
}

.status_unlocked {
    background-color: yellow;
    font-style: italic;
    color: green;
}

.pistol_on {
    font-style: normal;
    font-weight: bold;
    background-color: white;
    color: green;
}

.pistol_off {
    font-style: italic;
    background-color: grey;
    color: red;
}