/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/websocket/css.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.css_main__giEsK {
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: orange;
}
.css_main__giEsK span {
    display: flex;
    flex-direction: column;
}
.css_togglePuertas__7BjsP {
    border: solid 1px gray;
    display: flex;
}
.css_togglePuertas__7BjsP span {
    display: flex;
    flex-direction: column;
}
