.main {
    display: flex;
    flex-direction: column;    
    border-radius: 5px;
    gap: .5rem;
    border: solid 1px rgba(255,255,255,.1);
    background: rgba(255,255,255,0.1);
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    padding-bottom: 2rem;
    width: 50%;
}
.main p {
    width: 100%;
    text-align: left;
}
.main h3 {
    width: 100%;
    padding: .5rem;
    border-bottom: solid 1px rgba(255,255,255,.1);
}
.main input {
    width: 100%;
}
.main input:last-of-type {
    border-radius: 5px;
    background-color: transparent;
    color: var(--blanco);
    font-size: large;
    border: solid 1px rgba(255,255,255,.5);
    padding: .8rem;
    transition: all 1s ease-in-out;
}
.main input:last-of-type:hover {
    color: black;
    background-color: var(--blanco);
}

@media (max-width: 750px) {
    .main {
        width: 90%;
    }
    .main h3 {
        width: 100%;
        text-align: center;
    }
    
}