.main {
    color: var(--letter); 
    border: solid 1px var(--border);
    background: var(--foreground);
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
    gap: .5rem;
    padding: 1rem;
    animation: show .5s ease-in;
}

.main h3 {
    border-bottom: solid 1px var(--border);
    padding-bottom: .5rem;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
.main {
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 5px;
    border: solid 1px rgba(255,255,255,.1);
    background: rgba(255,255,255,0.1);
    gap: .5rem;
    padding: 1rem;
}

.main h3 {
    border-bottom: solid 1px rgba(255,255,255,0.1);
    padding-bottom: .5rem;
}


@media (max-width: 767px) {
    .main {
        padding: .5rem;
    }
}
*/