.main {
    color: var(--letter);
    border: solid 1px var(--border);
    background: var(--foreground-nav);
    padding: 1rem;
    padding-left: .5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: .5rem;
    width: calc(100% - 1rem);
    border-radius: 5px;
    position: fixed;
    backdrop-filter: blur(5px);
}
.loop_status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loop_status span {
    display: flex;
    gap: .3rem;
    justify-content: center;
}
.loop_status button {
    background: transparent;
    border: solid 1px var(--border);
    padding: .3rem;
    width: 100%;
    background-color: var(--background);
}
.icon { 
    z-index: 999;
}
.on {
    color: green;
}
.off {
    color: red;
}