.main {
    color: var(--letter);
    background: var(--foreground);
    border-left: solid 1px var(--border);
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    padding: 3.5rem .5rem 1rem 1rem;
    transform: translateX(calc(100% + 1rem));
    transition: transform .3s ease-in;
    gap: .4rem;
    z-index: 998;
    overflow-y: scroll;
    padding-bottom: 2rem;
}
.visible {
    transform: translateX(0);
}