/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app\\layout.js","import":"","arguments":[{"src":"./fonts/fd.ttf","variable":"--fd"}],"variableName":"fd"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'fd';
src: url(/_next/static/media/f9053f8c014484a4-s.p.ttf) format('truetype');
font-display: swap;
}@font-face {font-family: 'fd Fallback';src: local("Arial");ascent-override: 94.19%;descent-override: 23.55%;line-gap-override: 0.00%;size-adjust: 106.17%
}.__className_650647 {font-family: 'fd', 'fd Fallback'
}.__variable_650647 {--fd: 'fd', 'fd Fallback'
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app\\layout.js","import":"","arguments":[{"src":"./fonts/ku.ttf","variable":"--ku"}],"variableName":"ku"} ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'ku';
src: url(/_next/static/media/c07d6614c8f4ab2d-s.p.ttf) format('truetype');
font-display: swap;
}@font-face {font-family: 'ku Fallback';src: local("Arial");ascent-override: 93.32%;descent-override: 24.02%;line-gap-override: 0.00%;size-adjust: 105.69%
}.__className_a88d90 {font-family: 'ku', 'ku Fallback'
}.__variable_a88d90 {--ku: 'ku', 'ku Fallback'
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root {
  --blanco: #F4F1E3;
  --marron: #50311d;
  --negroA: #0b090c;
  --negro: #50311d;
  font-size: 20px;
  background: #141E30;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: white;

}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

